body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 18px;
  line-height: 21px;
}
h1 {
  color: dodgerblue;
  text-align: center;
}
.vline {
  position: relative;
  padding-left: 10px;
}
.vline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: lightslategrey;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 1400px;
  
  
}
.header {
  margin: 10px;
  padding: 20px;
  background-color: rgb(237, 241, 244);
  border: 1px solid lightslategrey;
}
.main {
  display: flex;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
}
/* Левая колонка */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

/* Левые блоки */
.introduction,
.best-practices {
  padding: 20px;
   border: 1px solid lightslategrey;
}
/*Правая колонка*/
.ui-container {
  flex-shrink: 0;
  padding: 10px 20px;
  width: 500px;
   border: 1px solid lightslategrey;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
}
.result{
  display: flex;
  border: 1px solid lightslategrey;
  margin: 10px;
  padding: 10px;
  
}
.summary-text {
  width: 50%;
  padding: 20px;
 
}
.summary-text-react {
  width: 50%;
  padding: 20px;
  /* border: 1px solid lightslategrey; */
}
.footer {
    margin: 10px;
  padding: 20px;
    border: 1px solid lightslategrey;
}




  
